.box a {
    text-decoration: none;
}

.education {
    text-align: center;
    padding: 2rem;
    background: #000; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}

.education .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.education .box {
    width: 300px;
    padding: 2rem;
    border-radius: 10px;
    transition: 0.3s;
}


.education .box span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 0 auto 1rem;
    font-size: 20px;
    font-size: 1.7rem;
    font-weight: bold;
    background: linear-gradient(to right, #ec4899, #3b82f6);
    -webkit-background-clip: text;
    color: transparent;
    animation: pulse 1.5s infinite;
    text-decoration: none;
}

.education .box h3 {
    font-size: 1.8rem;
}

.education .box p {
    font-size: 1.2rem;
    color: orange;
    padding: 1rem 0;
    background: transparent;
    border-top: 0.1rem solid;
    border-left: 0.1rem solid;
    border-right: 0.1rem solid;
    border-bottom: 0.1rem solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, #f06, #3cf);

}
.custom-title {
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(to right, #ec4899, #3b82f6);
    -webkit-background-clip: text;
    color: transparent;
    animation: pulse 1.5s infinite;
  }

.education h1 {
    color: orange;
    font-size: 2.5rem;
}

